
body {
    margin: 0;
    padding: 0;
}

#wrapper {
    margin: 0 5%;
}

header {
    background-color: cornflowerblue;
    padding: 12pt;
}

h1, h2 {
    font-family: "Helvetica", sans-serif;
    font-weight: bolder;
    margin: 0;
    color: white;
}

h2 {
    font-weight: lighter;
    margin: 12pt 0;
    color: #505050;
}

p {
    color: #505050;
    line-height: 1.3;
    max-width: 700px;
    text-align: justify;
}

nav {
    float: left;
    width: 200px;

}

nav ul {
    padding: 0;
    margin: 4px 12px 4px 4px;
    list-style-type: none;
}

nav a {
    font-family: sans-serif;
    display: block;
    color: indianred;
    padding: 8px;
    border-bottom: 2px solid lightgray;
    text-decoration: none;
}

nav a:hover {
    border-bottom-color: black;
    background-color: whitesmoke;
}

article {
    margin-left: 220px;
}

article li {
    color: #505050;
    line-height: 1.3;
}

.active {

    border-bottom-color: black;
}

footer {
    height: 120px;
    background-color: #505050;
    margin-top: 100pt;
}

footer p {
    padding: 50px;
    margin: 0;
    color: whitesmoke;
}

article img {
    width: 150px;
}

article ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    max-width: 700px;
}

article ul li {
    display: inline-block;
}

table td {
    padding: 8px;
}

label {
    font-family: sans-serif;
}

input, textarea, select {
    border: 1px solid gray;
    padding: 6px;
}
