<form action="obsluha.php" method="post">
    <input type="hidden" name="id" value="123" />
    <input type="text" name="jmeno" placeholder="Jméno:" />
    <input type="text" name="prijmeni" placeholder="Příjmení:" />
    <input type="submit" name="odeslat" value="Odeslat" />
</form>