
table {
    border-collapse: collapse;
    border: 1px solid gray;
    margin: 0 auto;
}

td {
    vertical-align: top;
    font-family: helvetica, sans-serif;
    border: 1px solid gray;
    padding: 4px;
}
