
body {
    font-size: 10pt;
}

.logo {
    text-align: center;
}

.logo img {
    width: 400px;
}

.arch-header {
    font-family: helvetica, sans-serif;
    font-size: 12pt;
    text-align: center;
    font-weight: bold;
}

table.arch {
    font-weight: normal;
    font-family: helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table.arch th {
    background-color: whitesmoke;
    text-align: left;
    border: 1px solid gray;
    padding: 4px;
    margin: 0;
}

table.arch td {
    vertical-align: top;
    border: 1px solid gray;
    padding: 4px;
    margin: 0;
}