
a {
    color: green;
    text-decoration: none;
}

a:visited {
    color:green;
}

a:active {
    color:green;
}

a:hover {
    text-shadow: #aaa 1px 1px 2px;
    text-decoration: underline;
}

img {
    box-shadow: 0 0 10px 3px #b1b1b1;
    margin-left: 30px;
}

p.task {
    padding: 8pt;
}

p.task img:hover {
    box-shadow: 0 0 10px 3px #090909;
}


table {
    border: 1px solid gray;
    border-collapse: collapse;
    font-size: 10pt;
}

table tr:hover {
    background-color: whitesmoke;
}

table td, #dum table th {
    border: 1px solid gray;
    padding: 4px;
    vertical-align: top;
}

table td.lower {
    color: gray;
    font-size: 8pt;
}

table td.lower span {
    /*font-size: 6pt;*/
}


a img {
    box-shadow: none;
    border: 1px solid transparent;
}

a img:hover {
    border: 1px solid gray;
}

code {
    border: 1px solid lightgray;
    padding: 2px;
    background-color: lightgoldenrodyellow;
}