
body {
    background-color: #a4c735;
    font-family: Helvetica, sans-serif;
    font-size: 10pt;
}

.bar {
    margin: 0cm 0 1cm 0;
    background-color: white;
    padding: 0.3cm 0 0.3cm 1cm;
}

.foot {
    text-align: center;
    margin: 1cm 0 0 0;
    background-color: white;
    padding-bottom: 0cm;
}

table {
    margin-left: 1cm;
    border: 0;
    background-color: transparent;
}

tr {
    background-color: white;

}

tr:nth-child(odd) {
    background-color: #f0f0f0;

}

td {
    border: 0;
    padding: 4px;
    margin: 4px 0 4px 0;
}