
body {
    font-family: sans-serif;
}

#main {
    padding: 8px;
}

#wrap {

    margin-bottom: 100px;
}

#menu {
    width: 300px;
    float: left;
    margin-right: 8px;
    margin-bottom: 260px;
}

#dum {
    margin-left: 308px;
    margin-bottom: 260px;
}

h1, h2, h3 {
    font-weight: normal;
}

h1 {
    margin-top: 0;
    font-size: 13pt;
    color: gray;
}

h2 {
    margin-top: 0;
}

h5:before {
    content: '# ';
}

h5.cmd {
    font-size: 12pt;
}

hr {
    border: 0;
    height: 1px;
    background-color: lightgray;
}

p {
    font-family: serif;
}

.logo {
    font-size: 18pt;
    position: relative;
    margin-bottom: 18px;
    width: 50%;
}

.logo span {
    top: 8px;
    left: 53px;
    position: absolute;
    display: block;
    width: 25px;
    transform: rotate(27deg);
}

.hidden {
    display: none;
}

a.button {
    text-align: center;
}

div.logo a {
    color: black;
    text-decoration: none;
}

div.logo a:visited {
    color: black;
}

div.logo a:hover {
    text-shadow: #000 1px 1px 2px;
}

/**** ANCHOR ****/
a {
    color: green;
    text-decoration: none;
}

a:visited {
    color:green;
}

a:active {
    color:green;
}

a:hover {
    text-shadow: #aaa 1px 1px 2px;
    text-decoration: underline;
}

.switch-emph {
    color: darkgreen;
    font-weight: bold;
}

/**** DUM ****/


#dum-header {
    float: right;
    margin: 0 0 20px 20px;
}

#dum-header table {
    font-size: 9pt;
    border-collapse: collapse;
    border: 1px solid gray;

    color: #555555;
}

#dum-header table td {
    border: 1px solid gray;
    padding: 4px;
}

h3.teacher {
    color: brown;
}

#dum {
    min-height: 100%;
}

#dum textarea {
    width: 900px;
    height: 500px;
}

#dum img {
    box-shadow: 0 0 10px 3px #b1b1b1;
    margin-left: 30px;
}

#dum p {
    font-family: "Computer Modern Serif", serif;
    font-size: 12pt;
}

#dum pre {
    font-family: "Computer Modern Typewriter", monospace;

}

#dum code {
    font-family: "Computer Modern Typewriter", monospace;
}

#dum p.task {
    padding: 8pt;
}

#dum p.task img:hover {
    box-shadow: 0 0 10px 3px #090909;
}


#dum table {
    border: 1px solid gray;
    border-collapse: collapse;
    font-size: 10pt;
}

#dum table tr:hover {
    background-color: whitesmoke;
}

#dum table td, #dum table th {
    border: 1px solid gray;
    padding: 4px;
    vertical-align: top;
}

#dum table td.lower {
    color: gray;
    font-size: 8pt;
}

#dum table td.lower span {
    /*font-size: 6pt;*/
}

.hover:hover {
    background-color: whitesmoke;
}

#dum a img {
    box-shadow: none;
    border: 1px solid transparent;
}

#dum a img:hover {
    border: 1px solid gray;
}

#dum table.summary img {
    margin: 0;
}

code {
    border: 1px solid lightgray;
    padding: 2px;
    background-color: lightgoldenrodyellow;
}

pre.bash {
    margin-left: 2cm;
}

#dum h3 {
    margin-left: 0;
    background-color: #f0f0f0;
    padding: 4px;
    font-family: "Computer Modern Bright", sans-serif;
    font-weight: lighter;
}

#dum h4 {
    background-color: #e0e0e0;
    padding: 4px;
    margin-left: 24pt;
    font-family: "Computer Modern Bright", sans-serif;
    font-weight: lighter;
}

#dum td h4 {
    background-color: transparent;
    padding: 4px;
    margin: 4px;
    font-family: "Computer Modern Bright", sans-serif;
    font-weight: lighter;
}

#dum h5 {
    margin-left: 48pt;
    font-family: "Computer Modern Bright", sans-serif;
    font-weight: lighter;
    border: 1px solid #e0e0e0;
    padding: 4px;
}

#dum h3 + div {
    margin-left: 0;
}

#dum h4 + div {
    padding-left: 4px;
    margin-left: 24pt;
    border-left: 1px solid #e0e0e0;
}

#dum h4 + div > pre {
    margin-left: 24pt;
}

#dum h5 + div {
    padding-left: 4px;
    margin-left: 48pt;
    border-left: 1px solid #e0e0e0;
}

#dum h5 + div > pre {
    margin-left: 48pt;
}

/**** MENU ****/

#menu a {
    color: gray;
    text-decoration: none;
    display: block;
    padding: 2px;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 10pt;
}

#menu ul {
    margin-top: 0;
}

#menu li:hover {
    list-style-type: disc;
}

#menu a:visited {
    color: gray;
}

#menu a.menu-active {
    color: green;
    border: 2px solid gray;
}

#menu li.menu-active {
    list-style-type: disc;
}

#menu a:hover {
    color: green;
    border: 2px solid gray;
}

#menu a.cc img {
    border: 0;
    margin: 0;
    padding: 2px;
}

#menu a.cc {
    padding: 0;
    text-align: center;
}

#menu li.disabled {
    color: lightgray;
    font-style: italic;
}

#moodleLinkerSource {
    text-align: center;
    height: 33px;
    border-bottom: 1px solid gray;
    margin-bottom: 6pt;
}

#moodleLinkerSource input {
    text-align: center;
    display: none;
    border: 1px solid grey;
    border-radius: 3px;
}

#menu div.group {

}

#menu a.group {
    color: #090909;
}

/**** SUMMARY ****/
table.summary {
    border: 1px solid gray;
    border-collapse: collapse;
    font-size: 10pt;
}

table.summary tr:hover {
    background-color: whitesmoke;
}

table.summary td {
    border: 1px solid gray;
    padding: 4px;
    vertical-align: top;
}

table.summary td.lower {
    color: gray;
    font-size: 8pt;
}

table.summary td.lower span {
    /*font-size: 6pt;*/
}

span.progress-box {
    display: block;
    border: 1px solid lightgray;
    width: 100px;
}

span.progress {
    display: block;
}

table.summary h4 {
    font-size: 12pt;
}

h4 a {
    font-weight: bold;
}

a.citation {
    padding: 0 2px;
}